#RickshawRoastersResetPasswordPage{
    display: flex;
    flex-direction: column;
}

#reset-password-page{
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

#reset-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 260px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 10px #F0F0F0; 
}

#reset-password-heading{
    font-size: 24px;
}

#reset-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password-text-email{
    padding-right: 271px;
}

.reset-password-input{
    height: 30px;
    width: 300px;
}

.reset-password-btns{
    width: 308px;
    height: 36px;
}

#reset-password-button{
    background-color: #7B3F00;
    color: white;
    cursor: pointer;
}